
  .content-wrapper  h2 {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-top: 12px;
    letter-spacing: 3px;
  }
  .table th {
    text-transform: uppercase;
    font-size: 16px;
  }
  .table td {
    font-size: 14px;
  }
  .table tr td {
    font-size: 14px;
    text-transform: uppercase;
  }
  /* btn emp */
  #emp{
    background:linear-gradient(35deg,black 50%,gray 50%);
    color:#fff;
    overflow: hidden;
    transition: 0.5s;
  }
  #emp:hover {
    transform: scale(1.1);
  }
  /* btn customer */
  #customer{
    background:linear-gradient(35deg,black 50%,rgb(221, 77, 10) 50%);
    color:#fff;
    overflow: hidden;
    transition: 0.5s;
  }
  #customer:hover{
    transform: scale(1.1);
  }
  /* btn fighter */
  #fighter{
    background:linear-gradient(35deg,black 50%,rgb(17, 0, 255) 50%);
    color: #fff;;
    overflow: hidden;
    transition: 0.5s;
  }
  #fighter:hover{
    transform: scale(1.1);
  }
  /* btn daypass */
  #daypass{
    background:linear-gradient(35deg,black 50%,rgb(255, 0, 208) 50%);
    color: #fff;;
    overflow: hidden;
    transition: 0.5s;
  }
  #daypass:hover{
    transform: scale(1.1);
  }
  .content-wrapper .col-4 .img {
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      margin-left: 15%;
      box-shadow: 0 0 10px #113af1;
  }
  #exp{
    display: block;
    width: 100%;
    justify-content: center;
  }

#clock {
font-size: 24px;
width: 100% ;
}