* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgqrcode {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  margin-bottom: 5px;
}

hr {
  border-top: 2px dashed #8c8b8b;
  outline: 2px dashed #8c8b8b;
}

span {
  font-size: 12px;
}

#col {
  margin-right: 10px;
  text-align: right;
}

h5 {
  font-size: 10px;
  text-align: center;
}

.dt {
  font-size: 9px;
}

dd {
  font-size: 9px;
}
